body {
    background-color: #3875d7;
}

.header {
    margin: 0 auto;
    width: 780px;
    height: 45px;
    display: flex;
}

.header-item {
    text-align: center;
    background-color: #c4dce8;
    width: 160px;
    height: 30px;
    margin: 5px 2px;
    padding-top: 10px;
}

.header-item a {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;
}

.line {
    width: 1000px;
    height: 20px;
    margin: 0 auto;
    background-color: floralwhite;
}

.container {
    background-color: floralwhite;
    width: 1000px;
    height: 470px;
    margin: 2px auto;
    padding-top: 20px;
}

.inner {
    margin: 0 auto;
    width: 500px;
    height: 450px;
    background-color: #e1bee7;
}

.main-form {
    width: 300px;
    margin: 0 auto;
    font-family: Bahnschrift;
}

.main-form p {
    display: flex;
    justify-content: space-between;
}

.main-form input, textarea {
    background-color: #edecd6;
}

.main-form textarea {
    resize: none;
}

.main-form ul {
    list-style: none;
}

.main-form input[type='submit'] {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 30px;
}

.request-result {
    display: block;
    margin: 10px auto;
    width: 325px;
    background-color: #edecd6;;
}

.paginator {
    list-style: none;
    display: flex;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    text-decoration: none;
    color: #5897fb;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.disabled a, .active span {
    color: #4f4f4f;
}

.message {
    background-color: #edecd6;
    border: 2px solid #444444;
    display: block;
    width: 300px;
    margin-left: 40px;
    padding: 5px;
}