<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}<title>Главная страница</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="header">
        <div class="header-item">
            <a href="{% url 'get_session' %}">Аутентификация</a>
        </div>
        <div class="header-item">
            <a href="{% url 'send_sms' %}">Отправить SMS</a>
        </div>
        <div class="header-item">
            <a href="{% url 'send_viber' %}">Отправить Viber</a>
        </div>
        <div class="header-item"><a href="#">Детализация</a></div>
        <div class="header-item"><a href="{% url 'get_sms_status' %}">Cтатусы</a></div>
    </div>

    <div class="line"></div>

    <div class="container">
        {% block content %}
            {% block inner_content %}
            {% endblock %}
        {% endblock %}
    </div>

</body>
</html>