{% extends 'base.html' %}
{% block title %}
    <title>Это пофиг</title>
{% endblock %}

{% block content %}
    {% block inner_content %}
        <div class="inner">
            <form class="main-form" method="post" action=" {% url 'get_status' %} ">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Получить">
            </form>
            {% if got_statuses %}
                <p class="request-result">
                    Статусы запрошены успешно и сохранены в базу
                </p>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}